input[type="text"],
textarea {
  padding: 0.8em;
  outline: none;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
}
textarea {
  width: 300px;
}
/* フォーカスした時のスタイルを変更 */
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #3498db;
  border: 1px solid #3498db;
}
/*フォーカスした時のスタイルを変更*/
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #3498db;
  border: 1px solid #3498db;
}
/* フォーカス時の幅をのばす */
input[type="text"] {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  width: 200px;
}
input[type="text"]:focus {
  width: 300px;
}
/*ボタンのスタイルを変更*/
input.sysNextSubmit {
  border-radius: 0;
  background: -moz-linear-gradient(top, #FFF 0%, #EEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
  border: 1px solid #DDD;
  color: #111;
  padding: 10px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input.sysNextSubmit:hover {
  background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
}
